a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight:300;
}
h1{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 570;
    text-align: center;
}
.pizza{
    text-align: left;
}
.gCheese{
    text-align: right;
}