body{
    margin: 0 auto;
    width: 600px;
    background-color: rgb(247, 238, 227);
    text-align: center;
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight:300;
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    background-color: rgba(122, 122, 122, 0.2);
}
h1{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: 570;
    text-align: center;
    margin: 32px;
}
